<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="libs/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content">
            <header>
                <div class="logo">
                    <img src="libs/img/logo.png" alt="logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </nav>
            </header>
            <div class="main-content">
                <div class="head">
                    <div class="slider">
                        <h1>Clean and Beautiful Website Template</h1>
                        
                        <div class="lab">
                            <label for="radio_1"></label>
                            <label for="radio_2"></label>
                            <label for="radio_3"></label>
                            <label for="radio_4"></label>
                        </div>

                            <input type="radio"  name="radio" id="radio_1" checked >
                            <div class="slide slide-1"></div>
                            <input type="radio"  name="radio" id="radio_2" >
                            <div class="slide slide-2"></div>
                            <input type="radio"  name="radio" id="radio_3" >
                            <div class="slide slide-3"></div>
                            <input type="radio"  name="radio" id="radio_4" >
                            <div class="slide slide-4"></div>
                        
                    </div>
                </div>
                <div class="body-content">
                    <div class="middle-content">
                        <div class="head-middle-content">
                            <h2>ABOUT <span>COMPANY</span></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Magni deserunt accusantium maxime amet laboriosam officii
                                 temporibus vitae obcaecati culpa explicabo. Esse error ipsam 
                                obcaecati architecto molestiae fugit neque ratione sequi.
                            </p>
                        </div>
                        <div class="middle-block">
                            Creative is a simple and beautiful website templates for freelancers and business owners to showcase teir services.
                        </div>
                        <div class="sections">
                            <div class="parts">
                                <div class="img">
                                    <img src="libs/img/module.png" alt="module">
                                </div>
                                <div class="txt-header">
                                    <h4><a href="#">Mobile Development</a></h4>
                                </div>
                                <div class="text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Magni deserunt accusantium maxime amet laboriosam officii
                                         temporibus vitae obcaecati culpa explicabo. Esse error ipsam 
                                        obcaecati architecto molestiae fugit neque ratione sequi.

                                </div>
                            </div>
                            <div class="parts">
                                <div class="img">
                                    <img src="libs/img/wordpress.png" alt="wordpress">
                                </div>
                                <div class="txt-header">
                                    <h4><a href="#">Wordpress Services</a></h4>
                                </div>
                                <div class="text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Magni deserunt accusantium maxime amet laboriosam officii
                                         temporibus vitae obcaecati culpa explicabo. Esse error ipsam 
                                        obcaecati architecto molestiae fugit neque ratione sequi.
                                </div>
                            </div>
                            <div class="parts">
                                <div class="img">
                                    <img src="libs/img/branding.jpg" alt="branding">
                                </div>
                                <div class="txt-header">
                                    <h4><a href="#">Link Building</a></h4>
                                </div>
                                <div class="text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Magni deserunt accusantium maxime amet laboriosam officii
                                         temporibus vitae obcaecati culpa explicabo. Esse error ipsam 
                                        obcaecati architecto molestiae fugit neque ratione sequi.
                                </div>
                            </div>
                            <div class="parts">
                                <div class="img">
                                    <img src="libs/img/link.jpg" alt="linking">
                                </div>
                                <div class="txt-header">
                                    <h4><a href="#">Branding and UI</a></h4>
                                </div>
                                <div class="text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Magni deserunt accusantium maxime amet laboriosam officii
                                         temporibus vitae obcaecati culpa explicabo. Esse error ipsam 
                                        obcaecati architecto molestiae fugit neque ratione sequi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>